body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.btn {
    height: 60px;
    width: 60px;
    margin: 15px;
    font-size: 30px;
}

.first-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.screen {
    width: 250px;
    border: 1px solid salmon;
    height: 60px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 30px;
}
